.fs-20{
    font-size: 20px !important;
}
.first-container{
    min-height: 220px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #707070;
    padding-right: 26px;

    .labels{
        p{
            font-family: 'Tajawal';
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $txtCol;
            margin-bottom: 8px;
            word-wrap: break-word;
        }
    }

    .data {
        p{
            font-family: "Tajawal";
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $txtCol;
            margin-bottom: 8px;
            word-wrap: break-word;
        }
    }

    .divider{
        hr{
            width: 1px;
            height: 154px;
            background: transparent;
            border: 1px solid #707070;

        }
    }
    .accept-loan{
        width: 95%;
        height: 50px;
        border-radius: 13px;
        background: #289a43;
        border: 1px solid #ededed;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
    }

    .reject-loan{
        width: 95%;
        height: 50px;
        border-radius: 13px;
        background: #454545;
        border: 1px solid #ededed;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 21px;
        text-align: center;
        color: #fff;

    }

    .print{
        width: 147px;
        height: 40px;
        background: transparent;
        border: 2px solid #df2024;
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.13));
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: $mainCol;
        border-radius: 13px;
        margin-bottom: 12px;
        svg{
            margin-right: 8px;
    }
        
    }

    .approave{
        width: 147px;
        height: 40px;
        border-radius: 13px;
        background: $mainCol;
        border: 1px solid #ededed;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 22px;
        text-align: center;
        color: #fff;

    }


    .green{
    
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5px 0;   
        text-align: center;
        border-radius: 10px;
        background: rgba(46, 214, 163, 0.1);
        margin-bottom: 12px;
        
        /*select{
           
                color: $green-color;
                font-family: 'Cairo';
                font-weight: 600;
                font-size: 17px;
        }*/

        
        .nice-select{
            width: 209px;
            height: 48px;
            border-radius: 10px;
            background:transparent;
            border: 2px solid $green-color;
            text-align: center !important;
            padding-right: 8px;
            

            &::after{
                right: 160px !important;
            }
            span.current{
                    color: $green-color;
                    font-family: 'Cairo';
                    font-weight: 600;
                    font-size: 17px;
            }
    
            ul.list{
                left: -1px;
                border: 1px solid rgb(167, 165, 165);
                border-radius: 9px;
                width: 209px;
                li{
                    text-align: right;
                    color: $txtCol;
                    font-family: 'Tajawal';
                }
            }
        }
    }

    .orange{
  

        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5px 0;   
        text-align: center;
        border-radius: 10px;
        background: rgba(255, 132, 75, 0.1);
        margin-bottom: 12px;
        /*select{
            color: $orange-color;
            font-family: 'Cairo';
            font-weight: 600;
            font-size: 17px;
        }*/
       .nice-select{
          
            width: 209px;
            height: 48px;
            border-radius: 10px;
            background:transparent;
            border: 2px solid #fd844b;
            text-align: center !important;
            padding-right: 8px;
           

            &::after{
                right: 160px !important;
            }
            span.current{
                    color: $orange-color;
                    font-family: 'Cairo';
                    font-weight: 600;
                    font-size: 17px;
                    text-align: center;
            }
    
            ul.list{
                left: -1px;
                border: 1px solid rgb(167, 165, 165);
                border-radius: 9px;
                width: 209px;
                li{
                    text-align: right;
                    color: $txtCol;
                    font-family: 'Tajawal';
                    
                }
            }
        }
    }
    

    .red{
        
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 5px 0;   
        text-align: center;
        border-radius: 10px;
        background: rgba(255, 96, 107, 0.1);
        margin-bottom: 12px;
        
        /*select{
            color: $mainCol;
            font-family: 'Cairo';
            font-weight: 600;
            font-size: 17px;
        }*/
        .nice-select{
            width: 209px;
            height: 48px;
            border-radius: 10px;
            background:transparent;
            border: 2px solid $mainCol;
            text-align: center !important;
            padding-right: 8px;
           

            &::after{
                right: 160px !important;
            }
            span.current{
                    color: $mainCol;
                    font-family: 'Cairo';
                    font-weight: 600;
                    font-size: 17px;
            }

            ul.list{
                left: -1px;
                border: 1px solid rgb(167, 165, 165);
                border-radius: 9px;
                width: 209px;
                li{
                    text-align: right;
                    color: $txtCol;
                    font-family: 'Tajawal';
                }
            }
        }
        
       
}
}


.second-container{
    .title{
        font-family: "Tajawal";
        font-weight: normal;
        font-size: 22px;
        text-align: right;
        color: $txtCol;
    }
    .Applicant-data{
        width: 49%;
        min-height: 319px;
        border-radius: 16px;
        background: #fff;
        border: 1px solid #707070;
        margin-left: 20px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .loan-data{
        width: 49%;
        min-height: 319px;
        border-radius: 16px;
        background: #fff;
        border: 1px solid #707070;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }

    .labels{
        p{
            font-family: 'Tajawal';
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $txtCol;
            margin-bottom: 8px;
            width: 100%;
            word-wrap: break-word;

        }
    }

    .data {
        p{
            font-family: "Tajawal";
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $txtCol;
            margin-bottom: 8px;
            width: 100% ;
            word-wrap: break-word;
        }
    }
}

.third-container{
    nav{
        background: transparent;
        .nav-tabs{
            border-bottom: none;
        }

        button{
            &:first-child{
                margin-right: 0 !important;
            }
            &:last-child{
                margin-left: 0 !important;
            }

            &:hover{
                background: $mainCol !important;
                border-color: $mainCol !important;
                color: #fff !important;
            }
        }
        button:not(.active){

            width: 198.3px !important;
            border-radius: 8px 8px 0px 0px;
            background: transparent;
            border: 2px solid $mainCol;
            font-family: 'Tajawal';
            font-weight: 500;
            font-size: 22px;
            text-align: center;
            color: $mainCol;
             margin-right: 12px;
            // margin-left: 10px;


        }

        .active{
            width: 198.3px !important;
            //height: 48px;
            border-radius: 8px 8px 0px 0px !important;
            background: $mainCol !important;
            border: 2px solid $mainCol !important;
            font-family: 'Tajawal' !important;
            font-weight: 500 !important;
            font-size: 22px !important;
            text-align: center !important;
            color: #fafafa !important;
            margin-right: 12px;
        }
    }

    .tab-content{
        width: 100%;
        height: 484px;
        border-radius: 0px 0px 16px 16px;
        background: #fff;
        border: 2px solid #df2024;
        overflow-y: auto;
        overflow-x: hidden;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
          &::-webkit-scrollbar {
            width: 7px;
           
          }
          
          /* Track */
          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey; 
            border-radius: 10px;
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
           
          }
           
          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: $txtCol; 
            border-radius: 10px;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
          }
          
          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: $mainCol;
            cursor: pointer; 
          }
    }

    .title{
        font-family: "Tajawal";
        font-weight: normal;
        font-size: 22px;
        text-align: right;
        color: $txtCol;
    }

    .labels{
        p{
            font-family: 'Tajawal';
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $txtCol;
            margin-bottom: 8px;
            width: 100%;
            word-wrap: break-word;

        }
    }

    .data {
        p{
            font-family: "Tajawal";
            font-weight: normal;
            font-size: 18px;
            text-align: right;
            color: $txtCol;
            margin-bottom: 8px;
            width: 100% ;
            word-wrap: break-word;
        }
    }

    .tab-data{
        padding-top: 25px;
        padding-right: 30px;
        padding-bottom: 25px;
        padding-left: 19px;
        padding-bottom: 20px;
    }

    .divider{
        display: flex;
        justify-content: end;
        hr{
            width: 1px;
            height: 95%;//390px;
            background: transparent;
            border: 1px solid #707070;

        }
    }

    .edit{
        width: 83px;
        height: 34px;
        background: #df2024;
        border: 1px solid #ededed;
        filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.13));
        border-radius: 8px;
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 18px;
        text-align: center;
        color: #fff;

    }
}
.insurance-num{
    width: 100%;
    height: 50px ;
    border-radius: 25px;
    background: rgba(237, 237, 237, 0.44);
    border: 2px solid #df2024;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
   
    font-family: 'Tajawal';
    font-weight: normal;
    font-size: 22px;
    text-align: right;
    color: #454545;


}

.save,.close{ 
  height: 50px !important;
}

.final-btn{
    width: 85%;
    height: 50px;
    border-radius: 13px;
    background: $green-btn;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);

    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    &:hover{
        background: transparent;
        border: 1px solid $green-btn;
        color: $green-btn;
    }
}

.save-btn{
    width: 85%;
    height: 50px;
    border-radius: 13px;
    background: $mainCol;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);

    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: #fff;
    transition: 0.5s;
    &:hover{
        background: transparent;
        border: 1px solid $mainCol;
        color: $mainCol;
    }
}

.cancel-btn{
    width: 85%;
    height: 50px;
    border-radius: 13px;
    background: transparent;
    border: 2px solid $txtCol;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);

    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    color: $txtCol;
    transition: 0.5s;
    &:hover{
        background: $txtCol;
        border: none;
        color: #fff;
    }
}

.Accept-title{
    font-family: "Tajawal";
    font-weight: normal;
    font-size: 32px;
    text-align: center;
    color: $txtCol;
}

.Accept-desc{ 
    font-family: 'Tajawal';
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    color: $txtCol;
}

#Accept-Loan-staticBackdrop .done{
    background: $green-btn;
    font-size: 26px;
    &:hover{
        background: transparent;
        border-color: $green-btn;
        color: $green-btn;
    }
}

.ignore{
    background: $txtCol !important;
    font-size: 26px !important;
    &:hover{
        background: none !important;
        border-color: $txtCol !important;
        color: $txtCol !important;
    }
}

.hr hr{
    width: 245px;
    height: 0px;
    background: transparent;
    border: 1px solid $txtCol;
    margin: 20px 10px;

}

.social-research-card{
    width: 90%;
    min-height: 240px;
    border-radius: 16px;
    background: transparent;
    border: 1px solid $mainCol;
    margin-right: 10px;
    padding: 15px 15px 15px 10px;
}

.details-table{
    border-collapse: separate;
    border-spacing: 10px 0;
    margin-bottom: 30px;
    thead{
        min-height: 50px;
        th.first{
           
            border-radius: 8px;
            background: $txtCol;
            //border: 1px solid #707070;
            font-family: 'Tajawal';
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            color: #f7f6f4;


        }

        th.small-th{
            width: 146px;
           // min-height: 51px;
            border-radius: 8px;
            background: #454545;
        

            font-family: 'Tajawal';
            font-weight: bold;
            font-size: 22px;
            text-align: center;
            color: #fff;


        }
    
    }

   
    tbody > tr:nth-of-type(even){
        background: #f8f6f6;
    }
    .row-data{
        font-family: 'Tajawal';
        font-weight: normal;
        font-size: 18px;
        color: $txtCol;
        border-radius: 8px;
        max-width: 146px; 
        word-wrap: break-word;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .total-price{
        font-family: 'Tajawal';
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        color: #f7f6f4;
        border-radius: 8px;
    }

    .total-text{
        padding-right: 20px;
    }
    tfoot{
        background: $mainCol;
    }
}

.mt-60{
    margin-top: 55px !important;
}