
.num-order{
    
        width: 100%;
        height: 60px;
        border-radius: 16px;
        background: #fff;
        box-shadow: 0px 16px 50px rgba(78, 125, 150, 0.1);

        display: flex;
        justify-content: center;
        align-items: center;

        font-family: 'Tajawal';
        font-weight: normal;
        font-size: 20px;
        text-align: right;
        color: #14172e;

        span{
           
            font-size: 30px;
            color: $mainCol;
            margin-left: 10px;
        }

}

.search-btn{
    display: inline-flex;
    width: 55%;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: $mainCol;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);

    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
    &:hover{
        background: transparent;
        border: 1px solid $mainCol;
        color: $mainCol;
        cursor: pointer;
    }

}
.table-responsive {
  
    background: #fff;
    border-radius: 16px;
    thead {
        tr {
            th {
                font-family: 'Tajawal';
                font-weight: normal;
                font-size: 16px;
                color: #14172e;
                padding: 22px 10px;
            }
        }

        
    }


    .control__indicator {
        background-color: #fff !important;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            background: $mainCol;
            width: 10px;
            height: 10px;
            transform: .3s;
            opacity: 0;
        }
    }
    .control input:checked~.control__indicator:after {
        display: none;
    }
    .control input:checked~.control__indicator span {
        opacity: 1;
        transform: .3s;
    }

    .pagination{
        gap: 10px;

        margin-bottom: 25px;
        .pagination-num{
            width: 37px;
            height: 37px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .pagination-num.active{
        background: $mainCol;
        border-radius: 50%;
        color: #fff;
        border: 1px solid $mainCol;

    }

    .pagination-num:not(.active){
        background: transparent;
        border: 1px solid #454545;
        border-radius: 50%;
        color: #454545;
        transition: 0.5s;
        &:hover{
            cursor: pointer;
            background: $mainCol;
            color: #fff;
            border: 1px solid $mainCol;
        }
    }
}

.green{
    width: 90%;
    padding: 5px 0;
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 18px;
    color: #2ed67b;
    text-align: center;
    border-radius: 10px;
    background: rgba(46, 214, 163, 0.1);
}

.orange{
    width: 90%;
    padding: 5px 0;
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 18px;
    color: #fd844b;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 132, 75, 0.1);
}

.red{
    width: 90%;
    padding: 5px 0;
    font-family: 'Cairo';
    font-weight: 600;
    font-size: 18px;
    color: #df2024;
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 96, 107, 0.1);
}

.dark-red{
    cursor: pointer;
    width: 90%;
    padding: 11px 0;
    border-radius: 11.5px;
    background: #df2024;
    border: 1px solid #ededed;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
    font-family: 'Tajawal';
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #fff;
    
}
.pt-39{
    padding-top: 39px !important;
}

.modal.show{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    background: rgba(0, 0, 0, 0.6);
    

    .modal-content{
        width: 600px;
        border-bottom: none !important;
        border-radius: 16px;
        background: #fff;
        border: 2px solid #e6746a !important;
        box-shadow: 0px 16px 50px rgba(131, 131, 131, 0.33);
        padding: 28px 5px;
    }

   .modal-footer{
       border-top: none;
   }
   
   .modal-body{
       .nice-select{
           float: right;
           text-align: right !important;
           width: 100%;

          
            border-radius: 25px;
            background: #d9d8d8;
            border: 2px solid $mainCol;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

           &::after{
               right: auto;
               left: 12px !important;
           }

           ul.list{
               width: 100%;
           }
        }
        .notes{
        padding-right: 10px;
        font-family: "Tajawal Black";
        font-weight: normal;
        font-size: 22px;
        text-align: right;
        color: #454545;
        
        }

        input{
            min-height: 120px;
            width: 100%;
            border-radius: 29px;
            background: rgba(237, 237, 237, 0.44);
            border: 2px solid #df2024;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
            padding-right: 12px;
            &:focus{
                outline: none;
                border: 2px solid #df2024;
                background: #fff;
            }
        }
       
   }

   .modal-footer{
       .done{
        width: 100%;
        height: 55px;
        border-radius: 13px;
        background: $mainCol;
        border: 1px solid #ededed;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);
        
        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #fff;
        transition: 0.5s;
        &:hover{
            background: transparent;
            border: 1px solid $mainCol;
            color: $mainCol;
        }

       }

       .cancel{
        width: 100%;
        height: 55px;
        border-radius: 13px;
        background: transparent;
        border: 2px solid #454545;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.13);

        font-family: 'Tajawal';
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #454545;
        transition: 0.5s;
        &:hover{
            background: $mainCol;
            border: 1px solid $mainCol;
            color: #fff;
        }
        
       }
   }
}

/*************** tabs style *************/
ul.nav-tabs{
    display: flex;
    flex-direction: column;
    border-bottom: none;
    width: 100%;
    align-items: center;

    li{
        width: 90%;
        a{
            width: 100%;
        }
    }
}